@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animación fadeInDown */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInDown {
  animation: fadeInDown 1s ease forwards;
}

@keyframes animatedBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-animated {
  background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fad0c4, #ffdde1);
  background-size: 400% 400%;
  animation: animatedBackground 15s ease infinite;
}

/* Estilo para texto principal */
.TEexto1 {
  @apply text-pink-700 text-center text-5xl font-bold animate-fadeInDown;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
